body {
    

    
    background: #DBE6F6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    



    
    
    font-family: 'Ms Madi', cursive;

    

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    color: black;
    border-bottom: 15px; color: blueviolet;
    text-align: center;
    animation:slide-in .5s;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}




.footer {
            background-image: url(img/footer.jpeg);    
            background-repeat: repeat-x;

    color: aliceblue;
    font-size: medium;
   
    
}

.bodysobremi {
    background-image: url(img/footer.jpeg);
    background-size: 50%;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%, #ffffff 100%);
    font-size: 25px;
    
    
}

.recetasdulces { 
    color: black;
    font-weight: 200;
    font-size: 20px;


}
/* ---------NAVBAR----------- */
.filanav { 
    display: flex;
}
.fila2nav { 
    display: flex;
}
nav {

    background-color: black;
    padding: 5px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    

}
.logonav { 
    width: 90px;
    height: auto;
    transition: all .5s; 
    
}
.logonav:hover{ transform: scale(1.25);

}



nav ul {
list-style-type: none;
display:flex;
flex-direction: column;
justify-content: space-between;
text-align: center;

}
nav ul li {
    margin: 1rem;
    transition: all .5s; 
}
nav ul li:hover{ transform: scale(1.7);}


.linknavbar { 
    color: beige;

}
/* -------------NAVBAR--------------------- */
a {
    color: black;
}
.imagenrecetasdulces {
    width: 20%;
    height: auto;
}

.grid { 
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.imagenesgrid {
    text-align: center;
    
}
.imagenesgrid img { 
    width: 100%;
    height: auto;
}


p {
    font-size: 40px;
}



















/* ------------------COPIA DE NAVBAR-------------- */
@media screen and (min-width: 768px) {
    /* ---------NAVBAR----------- */
nav {
    background-color: black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.logonav { 
    width: 90px;
    height: auto;
}

nav ul {
list-style-type: none;
display:flex;
justify-content: space-between;
flex-direction: row;
}
nav ul li {
    margin: 1rem;
    
}
.linknavbar { 
    color: beige;

}
/* -------------NAVBAR--------------------- */
}

